/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



 * {
    box-sizing: border-box;
  }
  
   body {
     overflow : hidden;
     box-sizing: border-box;
     margin:  0;
     padding:  0;
     font-family: "Noto Sans JP";
     background-color: #fff;
     overflow-y: scroll;
     position: relative;
   }
  
   header {
     width: 100%;
     height: 40px;
     margin-bottom: 10px;
     background-color: #00bfff;
     position: absolute;
     top: 0;
   }
  
   #header_wrap {
     width: 1080px;
     margin: 0 auto;
   }
  
   #info {
     color: #fff;
     text-align: left;
     padding-top: 8px;
     float: left;
     font-size: .85em;
   }
  
   #sns {
     text-align: right;
     float: right;
     margin-top: 5px;
   }
  
   #sns ul {
     list-style: none;
   }
  
   #sns ul li {
     display: inline-block;
   }
  
   #sns ul li img {
     border: 1px solid #fff;
   }
  
  #wrapper {
    width: 1080px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
   #header2 {
     width: 1080px;
     height: 130px;
   }
  
   #header2 ul li a {
     text-decoration: none;
     color: #444;
     padding: 0 .3em;
     transition: all .3s;
   }
  
   #header2 ul li a:hover {
     text-decoration: none;
     color: #fff;
     background-color: #2ecc71;
   }



   #ad {
    width: 300px;
    height: 80px;
    background-color: #ddd;
    margin: 70px 0 0 20px;
    float: left;
  }
 
  #header2 ul {
   padding-top: 50px;
   float: right;
 }

 #header2 ul:last-child {
   padding-top: 0;
 }
 
  #header2 ul li {
   float: left;
   list-style: none;
   margin-top: 25px;
   padding-left: 20px;
   padding-right: 20px;
   border-right: 1px solid #000;
 }
 
  #header2 ul li:first-child {
   float: left;
   list-style: none;
   margin-top: 25px;
   padding-left: 20px;
   padding-right: 20px;
   border-left: 1px solid #000;
 }

 .auth_ul li {
   margin-top: 0 !important;
   margin-bottom: 10px !important;
 }

 .auth_user_name {
   padding-left: 20px;
   padding-right: 20px;
   border-left: 1px solid #000;
 }

 .border-none {
   border: none !important;
 }

 .dropdown-menu-pt-mb {
   padding-top: 5px !important;
   margin-bottom: -5px !important;
 }

 .dropdown-menu-position-bottom {
   bottom: -75px !important;
 }


  
   #bbl-title {
     width: 200px;
     background-color: #fff;
     border-left: 4px dashed red;
     border-right: 4px dashed red;
     float: left;
     margin-top: 40px;
     margin-right: 20px;
     background-image: url("../img/logo_bg.png");
     background-position:  -41px 10px;
     position: relative;
   }
  
   #bbl-title a {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
   }
  
   #logo {
     width: 200px;
     height: 90px;
     margin: 50px auto -10px auto;
   }
  
   #logo h1 {
     font-family: 'Skranji', cursive;
     font-size: 19px;
     text-align: center;
     margin-bottom: -10px;
     margin-left: -10px;
   }
  
   #logo p {
     font-family: "Noto Sans JP";
     font-size: 12px;
     font-weight: bold;
     text-align: right;
     padding-right: 47px;
     margin-top: 5px;
   }
  
   #ad-login_out-area {
    display: flex;
    justify-content: space-around;
  }
  
/* お知らせ */
    #news {
     width: 47%;
     height: 80px;
     background-color: #fff0f5;
     margin: 60px 10px 0 0;
     font-size: .85rem;
     padding: 5px;
}
  
    #news ul {
     margin-left: -10px;
     line-height: 1.7em;
}
  
/* 広告 */
    /* #ad_header {
     width: 300px;
     height: 80px;
     background-color: #ddd;
     margin: 60px 0 0 0;
   } */
   
    #ad_nav {
     width: 150px;
     height: 300px;
     background-color: #ddd;
     margin: 60px auto 0 auto;
   }
   
   #ad_container {
     width: 75%;
     height: 80px;
     background-color: #ddd;
     margin: 0 auto;
   }
   
   
/* ログイン状態によって切り替える部分 */   
    .login_form-area {
     padding: 30px 0 0 0;
    }
    
    #login-button {
     font-size: .85rem;
     padding: .6em;
}

    #logout-button {
     margin-top: 50px;
     margin-left: 328px;
     font-size: .85rem;
     padding: .6em;
}

   .visible-block {
     display: block;
}
   .hidden-block {
    display: none;
} 
   
   .visible-on-logout {
    padding-top: 50px;
}

   .visible-on-logout span {
    font-size: .8em;
    padding-left: 5px;
}

   .login-nav-ul-mt--45 {
    margin-top: -45px !important; 
}

   .container .visible-on-logout p {
       margin: -100px auto 0 auto;
       text-align: center;
       background-color: #f0f8ff;
       border: solid thin #f0f8ff;
       border-radius: 3px;
       width: 50%;
       line-height: 2em;
       color: #b22222;
}
   
   .container .visible-on-logout p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f12a";
    font-weight: 900;
    padding-right: 10px;
    color: #b22222;
}

  
  #sp_menu {
    display: none;
  }
  
  #sp_info {
    display: none;
  }
  
   #catch {
     width: 1080px;
     height: 140px;
     border-top: 1px solid #ddd;
     border-right: 1px solid #888;
     border-bottom: 1px solid #888;
     border-left: 1px solid #ccc;
     margin-top: -10px;
     margin-left: -0;
     text-align: center;
     display: inline-block;
     position: relative;
     background-color: #fff;
     background-image: url("../img/catch.png");
     background-position: 0 0;
     background-repeat: no-repeat;
   }
  
   #catch::after {
      position: absolute;
      content: "";
      box-shadow: 0 15px 10px rgba(0,0,0, .65); /* シャドウ */
      transform: rotate(3deg); /* 回転させる */
      right: 5px;
      left: auto;
      top: auto;
      bottom: 15px;
      z-index: -1;
      width: 50%;
      height: 20%;
   }
  
   #catch div {
     width: 700px;
     height: 100px;
     margin: 27px auto 0 auto;
     padding-bottom: 110px;
   }
  
   #left {
     width: 200px;
     height: 100%;
     min-height: 800px;
     float: left;
     margin-right: 30px;
   }

   .post {
    text-align: center;
    margin-top: 45px;
    position: relative;
    background-color: #dc143c;
    width: 100%;
    height: 80px;
    margin-top: -46px;
    line-height: 80px;
   }

   .post a {
     margin: 0 auto;
     background-color: #f9d7d7 !important;
     animation: flash 1s linear 3;
   }

   .post a:hover{
    background-color: #dc143c !important;
   }
   
@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
  
   #left a {
    text-decoration: none;
    color:#444;
    transition: all .3s;
    font-size: 0.85em;
   }

   #left ul li a:hover {
     text-decoration: none;
     color: #fff;
     background-color: #2ecc71;
   }
  
   #right {
     width: 760px;
     height: 100%;
     background-color: #fff;
     padding-top: 30px;
     margin-top: 20px;
     margin-left: 15px;
     float: left;
   }
  
  .container {
    height: auto;
    padding-top: 35px;
    margin-bottom: 150px;
    border-radius: 4px;
    color: #444;
  }

  .container_home {
    height: auto;
    padding-top: 35px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: #444;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .head {
    width: 760px;
    height: 40px;
    background-color: #fff;
    border-bottom: 4px solid #EB9710;
    color: #5E610B;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 0 0 10px;
    line-height: 1.5em;
    margin: -50px auto 50px auto;
  }
  
   .cont_inner_list {
     background-color: #fff;
     height: 500px;
     margin: 0 10px;
   }

   .cont_inner {
    background-color: #fff;
    max-height: 396px;
    margin: 0 auto;
    overflow: auto;
    padding: 7px 10px 0 19px;
  }
  
   .post_thumbnail {
     margin: -5% 2% 0 0;
     height: 220px;
     border-radius: 1px;
     border: solid 1px #d0e3d2
   }

   .show_post_thumbnail {
    margin: 0 2% 0 0;
    border-radius: 1px;
    border: solid 1px #d0e3d2
  }
  
  .user_post_thumbnail {
    margin: -5% 2% 0 0;
    border-radius: 1px;
    border: solid 1px #d0e3d2
  }

   .post_meta-all {
     padding: 10px 0 10px 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     /* overflow: hidden; */
   }
  
   .post_meta-all.multiline {
    white-space: normal;
    max-height: 3em;
    position: relative;
  }
  
   .post_meta-all::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: 10px;
    background-color: #fff;
   }
  
   .post_meta-all.line-8 {
    max-height: 12.5em;
   }
  
   .pick_title {
     font-size: 18px;
     font-weight: bold;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
   }

   .post_text_color {
    color: #333;
  }
  
   nav {
     width: 200px;
     height: auto;
     min-height: 100%;
     background-color: #fff;
     border-left: 4px dashed red;
     border-right: 4px dashed red;
     float: left;
     padding-bottom: 32768px;
     margin-bottom: -32768px;
   }
  
   nav ul {
     list-style: none;
     font-size: 18px;
     text-align: center;
     margin-top: 45px;
     margin-left: -40px;
   }

   /* 非ログイン時の処理 */
   .margin-top-45-none {
     margin-top: 0;
   }
  
   nav ul li {
     border-bottom: 1px dashed red;
     line-height: 50px;
     position: relative;
   }

   nav ul li a {
     display: block;
     margin-left: -35px;
   }

   nav ul li a[href$=pitching] {
    background-image: url("../img/ball.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
    text-decoration: none;
   }

   nav ul li a[href$=batting] {
    background-image: url("../img/bat.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
   }

   nav ul li a[href$=fielding] {
    background-image: url("../img/grove.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
   }

   nav ul li a[href$=running] {
    background-image: url("../img/spike.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
   }

   nav ul li a[href$=mental] {
    background-image: url("../img/heart.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
   }

   nav ul li a[href$=other] {
    background-image: url("../img/other.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 40px 13px;
    padding-left: 35px;
   }
  
  /* 
   nav ul li:first-child {
     border-top: 1px dashed red;
   } */
  
   nav ul li.pitching {
     background-image: url("../img/ball.png");
     background-size: 24px 24px;
     background-repeat: no-repeat;
     background-position: 40px 13px;
     padding-left: 35px;
    }
  
   nav ul li.batting {
     background-image: url("../img/bat.png");
     background-size: 24px 24px;
     background-repeat: no-repeat;
     background-position: 40px 13px;
     padding-left: 35px;
    }
  
   nav ul li.fielding {
     background-image: url("../img/grove.png");
     background-size: 24px 24px;
     background-repeat: no-repeat;
     background-position: 40px 13px;
     padding-left: 35px;
    }
  
   nav ul li.b_running {
     background-image: url("../img/spike.png");
     background-size: 24px 24px;
     background-repeat: no-repeat;
     background-position: 40px 13px;
     padding-left: 35px;
    }
  
   nav ul li.mental {
     background-image: url("../img/heart.png");
     background-size: 24px 24px;
     background-repeat: no-repeat;
     background-position: 40px 13px;
     padding-left: 35px;
    }
  
    nav ul li.other {
      background-image: url("../img/other.png");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: 40px 13px;
      padding-left: 35px;
     }
  
   nav p:nth-of-type(4) {
     height: 100%;
     min-height: 100%;
   }
  

   .paginate_total_relative {
     position: relative;
     width: 729px;
   }

   .paginate_total_absolute {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -85%);
    -ms-transform: translate(-50%, -50%);
   }


   footer {
     width: 100%;
     height: 120px;
     background-color: #8b4513;
     position: absolute;
     bottom: 0;
     left: 0;
   }
  
   footer h3 {
     color: #fff;
     font-family: 'Skranji', cursive;
     text-align: center;
     line-height: 90px;
     margin: 0;
     font-size: 1.4em;
   }
  
   footer ul {
     margin: -20px auto 0 -40px;
     list-style: none;
     display: flex;
     justify-content: center;
     color: #fff;
   }
  
   footer ul li {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #ddd;
  }
  
   footer ul li:first-child {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #ddd;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    padding: 0 .3em;
    transition: all .3s;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2ecc71;
  }
  
   .clearfix {
     clear: both;
   }
   
   
/* 新着レクチャー */

  .new_area-img {
    position: relative;
}

  .new_area-p {
    position: absolute;
    color: white;
    background-color: #f00;
    top: -12px;
    left: -20px;
    height: 22px;
    font-size: 85%;
    padding: 0 1px 4px 6px;
}

  .show_new_area-p {
    position: absolute;
    color: white;
    background-color: #f00;
    top: -1px;
    left: -20px;
    height: 22px;
    font-size: 85%;
    padding: 0 1px 4px 6px;
}

.thumbnail {
  max-width: 100%;
  height: 218px;
  object-fit: cover;
}

.user_thumbnail {
  max-width: 100%;
  object-fit: cover;
}

.show_image {
  max-width: 500px;
  width: 100%;
  object-fit: cover;
}

.show_image-li {
  width: 100%;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

.tag-pitching {
    display: inline-block;
    font-size: .8em;
    background-color: rgb(255, 71, 71);
    border-radius: .2rem;
    padding: 5px;
    color: #fff;
    margin: 5px 0 15px 0;
}

.tag-batting {
  display: inline-block;
  font-size: .8em;
  background-color: #003cff;
  border-radius: .2rem;
  padding: 5px;
  color: #fff;
  margin: 5px 0 15px 0;
}

.tag-fielding {
  display: inline-block;
  font-size: .8em;
  background-color: rgba(7, 158, 52, 0.855);
  border-radius: .2rem;
  padding: 5px;
  color: #fff;
  margin: 5px 0 15px 0;
}

.tag-running {
  display: inline-block;
  font-size: .8em;
  background-color: hsla(32, 100%, 50%, 0.855);
  border-radius: .2rem;
  padding: 5px;
  color: #fff;
  margin: 5px 0 15px 0;
}

.tag-mental {
  display: inline-block;
  font-size: .8em;
  background-color: hsla(295, 100%, 57%, 0.855);
  border-radius: .2rem;
  padding: 5px;
  color: #fff;
  margin: 5px 0 15px 0;
}

.tag-other {
  display: inline-block;
  font-size: .8em;
  background-color: hsla(0, 0%, 35%, 0.855);
  border-radius: .2rem;
  padding: 5px;
  color: #fff;
  margin: 5px 0 15px 0;
}



/* 投稿フォーム */

/* プレースホルダー　フォーカス時に消す */
input::focus::placeholder {
  color: transparent;
}

/* フォーム全体 */
#post_form {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

/* カテゴリ（ラジオボタン） */
.radio-label {
    padding-right: 20px;
}



/* ユーザー詳細ページ */

#user_info dt, dd {
  display: inline-block;
  padding: 3px;
}

#user_info dt {
  font-size: 1rem;
  font-weight: normal;
  background-color: rgb(0, 164, 230);
  border-radius: 2px;
  padding: 0 4px 3px 3px;
  color: #fff;
}

#user_info dd {
  font-size: 1rem;
  font-weight: normal;
  padding-left: 5px;
}